::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--milo-orange);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--milo-orange);
}

.announcements-scroll::-webkit-scrollbar {
	width: 6px;
}

.announcements-scroll::-webkit-scrollbar-track {
	background: var(--milo-creme);
	border-radius: 10px;
}

.announcements-scroll::-webkit-scrollbar-thumb {
	background: var(--milo-lettre);
	border-radius: 10px;
}

.announcements-scroll::-webkit-scrollbar-thumb:hover {
	background: var(--milo-orange);
}
